.container-home.nav-gear {
    border: 1px #000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1860px;
    padding: 8px;
    display: flex;
    box-shadow: 0 1px 5px #0003;
}

.home.nav-gear {
    z-index: 10;
    background-color: var(--white);
    margin-top: 0;
    position: sticky;
    top: 0;
}

.menu-link-gear {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.nav-link-gear {
    color: black !important;
    padding-left: 32px;
    padding-right: 18px;
    font-family: Poppins, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.logo-title {
    color: #919197;
    height: 70px;
    margin-bottom: 0;
    margin-left: 10px;
}

.logo-linkblock.w--current {
    padding-left: 24px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 0px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 22vw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: white;
    text-decoration: none;
}

.show {
    display: block;
}

.w-icon-dropdown-toggle {
    width: 1em;
    height: 1em;
    margin: auto 20px auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
